
:root{
    --default: #212529;
    --primary: #ce1212;
    --font: "Amatic SC", sans-serif;
}

body{
    font-family: "Open sans", sans-serif
}

.nav-link:hover,
nav .selected{
    color: black !important;
}
input::placeholder,
textarea::placeholder{
    font-size: 15px;
    font-style: italic;
    color: rgb(128, 128, 128);
}
input:focus,
textarea:focus{
    outline: 1px solid #ee0a0aa4;
}
input,
textarea{
    caret-color: var(--primary);
}
.nav-link::before{
    content: "";
    position: absolute;
    width: 0%;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid var(--primary);
    transition: .5s;

}
.nav-link:hover::before,
nav .selected::before{
    width: 100%;
}
.watch:hover{
    color: var(--primary) !important;
}

.heading{
    text-transform: uppercase;
    margin: 50px 0;
    text-align: center;
}
.heading h5{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.507);
}
.heading h2{
    font-family: var(--font);
    font-size: 50px;
    font-weight: 500;
}
.heading span{
    color: var(--primary);
}
#about .image::after{
    content: "\f04b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    border-radius: 50%;
    padding: 20px 25px;
    text-align: center;
    color: white;
    cursor: pointer;
    outline: 13px solid #ce121288;
}
#about .image::before{
    content: "";
    position: absolute;
    padding: 30px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 3px solid #ce1212;
    animation-name: play;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

@keyframes play {
    30%{
        padding: 42px;
    }
    50%{
        opacity: 0;
    }
    100%{
        padding: 42px;
        opacity: 0;
    }
}

@media (min-width:991px) {
    #why .box:hover{
        transform: scale(1.1);
    }
    #why button:hover{
        background-color: white !important;
        color: var(--primary) !important;
    }
    
}

#stats {
    background-image: url(../images/stats-bg.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}
#stats::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

#menu .type:hover{
    color: var(--primary);
    border-color: var(--primary) !important;
}

#events .image{
    background-size: cover;
    background-image: url(images/events-1.jpg);
    height: 600px;
    z-index: 1;        
}
#events .image::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
    z-index: -1;
}
#chiefs .box:hover .social{
    right: 10px !important;
}
#chiefs .box{
    transition: .3s;
}
#chiefs .box:hover{
    transform: translateY(-20px);
}
#chiefs .link:hover{
    opacity: 1 !important;
    color: var(--primary) !important;
}

#gallery .image::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.568);
    opacity: 0;
    transition: .3s;
}
#gallery .image:hover::before{
    opacity: 1;
}

#gallery .image:hover .icon{
    opacity: 1 !important;
}

#contact .icon::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    border-radius: 50%;
    z-index: -1;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
}
footer .icon:hover{
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}